{
    "parser": "@babel/eslint-parser",
    "extends": "airbnb",
    "rules": {
      "no-console": "off",   // disable warnings when logging to console
      "linebreak-style": 0,  // disable LF and CRLF linebreak errors
      "no-plusplus": "off",   // disable no-plusplus errors
      "prefer-const":"off",
      "no-multi-spaces":"off",
      "eol-last":"off",
      "comma-dangle":"off",
      "no-trailing-spaces":"off",
      "indent":"off",
      "new-parens":"off",
      "quotes":"off",
      "import/no-extraneous-dependencies": "off",
      "no-unused-vars": "off",
      "no-multiple-empty-lines": "off",
      "no-alert": "off",
      "import/no-unresolved": "off",
      "import/extensions": "off",
      "import/no-import-module-exports": "off",
      "space-before-function-paren": "off",
      "semi": "off",
      "func-names": "off",
      "no-use-before-define": "off",
      "keyword-spacing": "off",
      "prefer-arrow-callback": "off",
      "no-tabs": "off",
      "no-mixed-spaces-and-tabs": "off",
      "vars-on-top": "off",
      "no-var": "off",
      "no-restricted-syntax": "off",
      "guard-for-in": "off",
      "padded-blocks": "off",
      "space-infix-ops": "off",
      "arrow-parens": "off",
      "prefer-template": "off",
      "no-constant-condition": "off",
      "no-lonely-if": "off",
      "max-len": "off",
      "arrow-body-style": "off"
    },
    "env": {
      "browser": true 
    }
  }